<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Book App</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div class="main" ng-app="myList" ng-controller="myListController">
			
		<h1>Book List</h1>
		<div class="addBook">
				
			
			<input ng-model = "newItem" placeholder="Add Book" class="addText">
				<button ng-click = "pushItem()">ADD</button>
				{{newItem}}
				
			<ul>
				<li ng-repeat="i in items">
					{{i}}
					<span ng-click="deleteItem($index)">x</span>
				</li>
			
			</ul>
				
			</div>
		</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="script.js"></script>
	

</body>
</html>